{
    "MGraph": {
        "Scope": [
            "User.ReadWrite.All",
            "Group.ReadWrite.All"
        ],
        "Properties": {
            "Users": [
                "AccountEnabled",
                "City",
                "CompanyName",
                "Department",
                "DisplayName",
                "EmployeeHireDate",
                "EmployeeId",
                "EmployeeType",
                "Givenname",
                "Id",
                "JobTitle",
                "Mail",
                "MailNickname",
                "Manager",
                "onPremisesExtensionAttributes",
                "ProxyAddresses",
                "State",
                "StreetAddress",
                "Surname",
                "UsageLocation",
                "UserPrincipalName",
                "UserType"
            ],
            "Groups": [
                "AssignedLabels",
                "AssignedLicenses",
                "DisplayName",
                "AutoSubscribeNewMembers",
                "CreatedDateTime",
                "DeletedDateTime",
                "Description",
                "DisplayName",
                "ExpirationDateTime",
                "Extensions",
                "HideFromAddressLists",
                "Mail",
                "MailEnabled",
                "MailNickname",
                "MemberOf",
                "Members",
                "MembershipRule",
                "Owners",
                "ProxyAddresses",
                "RejectedSenders",
                "SecurityEnabled",
                "Settings",
                "Site",
                "Visibility",
                "AdditionalProperties"
            ]
        }
    },
    "Azure": {
        "Subscriptions": {
            "EmmaIT": ""
        },
        "Account": "",
        "VMs": {
            "Animatronio": {
                "NSG": "",
                "RG": "",
                "Rule": ""
            }
        }
    },
    "HomeOffice": {
        "Hostname": ""
    }
}